# @Author: Arthur Brunck <arthybck>
# @Date:   2019-01-07T11:03:42+01:00
# @Filename: .eslintrc
# @Last modified by:   arthybck
# @Last modified time: 2019-01-09T15:15:18+01:00

{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "meteor": true,
  },
  "rules": {
    "valid-jsdoc": ["error", {
      "requireParamDescription": true,
      }],
    "require-jsdoc": ["error", {
        "require": {
            "FunctionDeclaration": false,
            "MethodDefinition": false,
            "ClassDeclaration": true
        }
      }],
jsx-quotes: ["error", "prefer-single"],
    "no-underscore-dangle": [2, { "allow": ["_schema", "_id", "_name"] }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": [0, {}],
  }
}
